header {
    text-align: center;

    img {
        margin: 50px auto;
    }
    nav {
        .fas.fa-bars {
            font-size: 30px;
            display: none;
            margin-bottom: 25px;
            padding-top: 20px;
        }
        li {
            display: inline-block;
            padding: 20px 10px;
            margin: 0 5px;
            font-size: 24px;
            transition: all .5s;
            cursor: pointer;
            &.active {
                background-color: $activeColor;
            }
            &:hover {
                background-color: $activeColor;
            }
        }
    }
}